@font-face {
  font-family: "iconfont"; /* Project id 3168874 */
  src: url('iconfont.woff2?t=1656502601680') format('woff2'),
       url('iconfont.woff?t=1656502601680') format('woff'),
       url('iconfont.ttf?t=1656502601680') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-changyongtubiao-fuben-21:before {
  content: "\e607";
}

.icon-gerenzhongxin2:before {
  content: "\e653";
}

.icon-a-3yewufuwuzhongxin:before {
  content: "\e65b";
}

.icon-jiantouyou:before {
  content: "\e620";
}

.icon-iconfontzhizuobiaozhun023126:before {
  content: "\e680";
}

.icon-jifen:before {
  content: "\e897";
}

.icon-wode:before {
  content: "\e603";
}

.icon-dingdan1:before {
  content: "\e645";
}

.icon-jia:before {
  content: "\e600";
}

.icon-shouji:before {
  content: "\e601";
}

.icon-gouwuche2:before {
  content: "\e602";
}

.icon-u:before {
  content: "\e61f";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-tuijian:before {
  content: "\e636";
}

.icon-fanhuijiantou:before {
  content: "\e8b5";
}

.icon-guanbi:before {
  content: "\eb6a";
}

.icon-remove:before {
  content: "\e704";
}

.icon-chaxun:before {
  content: "\ec4c";
}

.icon-aixin_shixin:before {
  content: "\eca1";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-huiyuan:before {
  content: "\e8b1";
}

.icon-icon-thumb_down:before {
  content: "\e606";
}

.icon-dingdan:before {
  content: "\e98d";
}

.icon-duigou:before {
  content: "\e637";
}

